.container{
	max-width: 1200px;
	height: 7500px;
	margin: 0 auto;
	position: relative;
	background: #000406;
	
}
#logo
{
	padding-top: 20px;
	padding-left: 20px;	
}

ul
{ 
	max-width: 509px;
	max-height: 11px;
	list-style-type:none;
	float:right;
	padding: 30px;
	color: white;
	display: inline;
}

li {
	font-size:14pt;
	font-family:﻿Raleway-Bold;
	color: white;
	float:left;
	position: center;
	padding-left: 15px;

}
li a:link, a:visited 
{
	color: white;
	text-align: center;
}
li a:hover, a:active
{  
	color: mediumspringgreen;
	
}
